#tilt-me {
  position: absolute;
  top: 100px;
  left: 100px;

  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  .card {
    width: 640px;
    height: 360px;
    background: url('../img/card_background.jpg');
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);

    .title {
      transition: all 0.5s ease;
      transform: translateX(65px) translateZ(50px);
      transform-origin: center center;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: 250px;

      #title-flag {
        padding-bottom: 10px;
        padding-right: 60px;
        position: absolute;
        padding-top: 0px;
      }

    }

  }

}